<!DOCTYPE html>
<html lang="en">
<body style="font-family: Arial, sans-serif; background: #f8f8f8; padding: 30px;">
<div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px;">
    <h2 style="color: #5521b5;">Thanks for Contacting PathFinder!</h2>

    <p>Hello {{ name }},</p>

    <p>Thank you for reaching out to us. We have received your message:</p>

    <blockquote style="background-color: #f0f0ff; padding: 10px; border-left: 4px solid #5521b5;">
        {{ message }}
    </blockquote>


    <p>We’ll get back to you soon. Meanwhile, keep exploring new paths, your journey matters.</p>

    <br>
    <p style="color: #888;">— Pathfinder.</p>
</div>
</body>
</html>
