{% extends "base.html" %}
{% load static %}

{% block css_cdn %}
    <link rel="stylesheet" href="{% static 'src/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'src/chatbot.css' %}">

{% endblock css_cdn %}

{% block js_cdn %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



{% endblock js_cdn %}



{% block content %}

    <script>
        $(document).ready(function () {
            let typingTimer;
            const typingDelay = 300;

            $('#default-search').on('input', function () {
                clearTimeout(typingTimer);
                const query = $(this).val().trim();
                console.log("Query being sent:", query);
                const suggestionsList = $('#suggestions-list');

                if (query.length === 0) {
                    suggestionsList.empty().hide();
                    return;
                }

                typingTimer = setTimeout(() => {
                    $.ajax({
                        url: "{% url 'dashboard:search_suggestions' %}",
                        type: "GET",
                        data: {query: query},
                        success: function (response) {
                            const {search_data} = response;
                            suggestionsList.empty();

                            if (search_data.length === 0) {
                                suggestionsList.append('<li style="padding: 8px; color: #666;">No results found</li>');
                            } else {
                                search_data.forEach(data => {
                                    if (data.type == "course") {
                                        suggestionsList.append(`
                                        <li><a href="/view_course/${data.id}" style="display: block; padding: 8px; cursor: pointer;">${data.name} (Course)</a></li>
                                    `);
                                    } else {
                                        suggestionsList.append(`
                                        <li><a href="/view_institution/${data.id}" style="display: block; padding: 8px; cursor: pointer;">${data.name} (Institution)</a></li>
                                    `);
                                    }
                                });
                                console.log(search_data);
                            }
                            suggestionsList.show();
                        },
                        error: function (xhr, status, error) {
                            suggestionsList.empty().append('<li style="padding: 8px; color: #666;">Error fetching results. Please try again.</li>').show();
                            console.error("Error:", error);
                        }
                    });
                }, typingDelay);
            });

            // Hide suggestions when clicking outside
            $(document).click(function (e) {
                if (!$(e.target).closest('.search-div').length) {
                    $('#suggestions-list').hide();
                }
            });

            // Handle form submit
            function handleSubmit(event) {
                event.preventDefault();

                let query = document.getElementById("default-search").value.trim();
                if (!query) return;

                let isCourseSearch = /course|program|degree/i.test(query);
                let isInstitutionSearch = /university|college|institution|academy/i.test(query);

                if (!isCourseSearch && !isInstitutionSearch) {
                    alert("Please clarify your search. It seems like you're looking for both courses and institutions.");
                    return;
                }

                let url = isCourseSearch ? `/search_suggestions_courses/?query=${query}` : `/search_suggestions_institutions/?query=${query}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (isCourseSearch && data.courses.length > 0) {
                            let course = data.courses[0];
                            if (course && course.course_id) {
                                window.location.href = `/view_course/${course.course_id}`;
                            } else {
                                alert("No valid course ID found.");
                            }
                        } else if (isInstitutionSearch && data.institutions.length > 0) {
                            let institution = data.institutions[0];
                            if (institution && institution.institution_id) {
                                window.location.href = `/view_institution/${institution.institution_id}`;
                            } else {
                                alert("No valid institution ID found.");
                            }
                        } else {
                            alert(isCourseSearch ? "No courses found!" : "No institutions found!");
                        }
                    })
                    .catch(error => console.error("Error:", error));
            }

            document.getElementById('search-form').addEventListener('submit', handleSubmit);

            {#Success stories#}
            const container = document.getElementById("testimonialScroll");
            const duration = 30000;
            const fps = 60;
            const intervalTime = 1000 / fps;

            let totalScrollableWidth = container.scrollWidth - container.clientWidth;
            let scrollStep = totalScrollableWidth / (duration / intervalTime);
            let scrollAmount = 0;

            function autoScroll() {
                if (container.scrollLeft >= totalScrollableWidth) {
                    container.scrollLeft = 0;
                    scrollAmount = 0;
                } else {
                    scrollAmount += scrollStep;
                    container.scrollLeft = scrollAmount;
                }
            }

            let interval = setInterval(autoScroll, intervalTime);

            container.addEventListener("mouseenter", () => clearInterval(interval));
            container.addEventListener("mouseleave", () => {
                interval = setInterval(autoScroll, intervalTime);
            });
        });
    </script>



    <section class="dashboard-container">
        <!-- TOP BANNER SECTION -->
        <section class="top-banner">

            {# SEARCH FORM #}
            <form action="{% url 'dashboard:search_suggestions' %}" method="GET" class="max-w-md mx-auto"
                  id="search-form">
                {#{% csrf_token %}#}
                <label for="default-search" class="mb-2 text-sm font-medium text-purple-900 sr-only">Search</label>
                <div class="relative search-div">
                    <input type="search" id="default-search"
                           class="block w-full p-4 ps-10 text-sm text-purple-900 border border-purple-300 rounded-lg bg-purple-50 focus:ring-purple-500 focus:border-purple-500"
                           placeholder="Search for Degrees and Institutions..." required>
                    <button type="submit"
                            class="text-white absolute end-2.5 bottom-2.5 bg-purple-700 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2">
                        Search
                    </button>

                    <!-- Dropdown to Show Results -->
                    <ul id="suggestions-list" class="suggestion-list"
                        style="position: absolute; width: 100%; background-color: white; border: 1px solid #ccc; display: none; margin-top: 3.42rem; ">
                    </ul>
                </div>
            </form>


            {#HEADINGS#}
            <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
                <div class="mr-auto place-self-center lg:col-span-7 heading-div">
                    <h1
                            class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl
                              heading1">
                        Discover the Best Degree & Institution for You </h1>
                    <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl heading2"
                       style="color: black; font-weight: bold">
                        a vast selection of degree programs and institutions, all in one place!</p>
                    <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                        <a href="{% url 'users:signup' %}"
                           class="inline-flex items-center justify-center w-64 px-5 py-3 text-sm font-medium text-center
                           text-white border border-purple-500 rounded-lg bg-purple-700 hover:bg-purple-800 focus:ring-4
                           focus:ring-purple-300"
                           style="color: white">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>


        </section>

        {#COURSE TYPES LIST#}
        <!-- Scrolling Categories -->
        <section class="bg-white py-8 overflow-hidden relative">
            <div class="animate-scroll whitespace-nowrap flex items-center space-x-24 font-poppins">
                <span id="type"
                      class="text-gray-900 text-2xl font-semibold text-uppercase">Information Technology</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Business Management</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Computer Science</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Data Science</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Environmental Science</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Engineering</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Fine Arts</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Accounting</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Agriculture</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Biotechnology</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Psychology</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Sociology</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Physics</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Chemistry</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Mathematics</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Medicine</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Law</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Economics</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Education</span>
                <span id="type" class="text-gray-900 text-2xl font-semibold text-uppercase">Nursing</span>

            </div>
        </section>


        <!-- TOP RATED COURSES SECTION -->
        <section class="pt-24" id="top-rated-courses">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">TOP RATED COURSES</h2>

                <!-- Correct Scroll Wrapper -->
                <div class=" scroll-horizontal-wrapper auto-scroll"
                     onmouseenter="this.classList.add('scroll-pause')"
                     onmouseleave="this.classList.remove('scroll-pause')">
                    <div class="scroll-inner px-4">
                        {% for course in top_ranked_courses %}
                            <div class="course-card">
                                <img
                                        class="course-image"
                                        src="{{ course.image_url }}"
                                        alt="{{ course.course_name }}"
                                        onerror="this.onerror=null;this.src='https://via.placeholder.com/400x200?text=No+Image';"
                                />
                                <div class="course-content">
                                    <h5 class="course-title">
                                        <span class="course-rank">{{ course.rank }}.</span>
                                        {{ course.course_name }}
                                    </h5>
                                    <a href="{% url 'institutions:view_course' course.id %}" class="read-more-button">
                                        Read more
                                        <svg class="w-3.5 h-3.5 ms-2" fill="none" stroke="currentColor" stroke-width="2"
                                             viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <!-- TOP RATED INSTITUTIONS SECTION -->
        <section class="pt-24" id="top-rated-courses">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">TOP RATED INSTITUTIONS</h2>

                <!-- Horizontal Scroll Wrapper -->
                <div class=" class= max-w-screen-xl px-4 mx-auto scroll-wrapper scroll-horizontal-wrapper auto-scroll"
                     onmouseenter="this.classList.add('scroll-pause')"
                     onmouseleave="this.classList.remove('scroll-pause')">

                    <div class="scroll-inner">
                        {% for institution in top_ranked_institutions %}
                            <div class="course-card">
                                <img
                                        class="course-image"
                                        src="https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg"
                                        alt="{{ institution.institution_name }}"
                                        onerror="this.onerror=null;this.src='https://via.placeholder.com/400x200?text=No+Image';"
                                />
                                <div class="course-content">
                                    <h5 class="course-title">
                                        <span class="course-rank">{{ institution.rank }}.</span>
                                        {{ institution.institution_name }}
                                    </h5>
                                    <a href="{% url 'institutions:view_institution' institution.id %}"
                                       class="read-more-button">
                                        Read more
                                        <svg class="w-3.5 h-3.5 ms-2" fill="none" stroke="currentColor" stroke-width="2"
                                             viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- TOP RECOMMENDED COURSES SECTION -->
        <section class="pt-24" id="top-rated-courses">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">TOP RECOMMENDED COURSES</h2>

                <div class=" scroll-horizontal-wrapper auto-scroll"
                     onmouseenter="this.classList.add('scroll-pause')"
                     onmouseleave="this.classList.remove('scroll-pause')">
                    <div class="scroll-inner px-4">
                        {% for course in course_hybrid %}
                            <div class="course-card">
                                <img
                                        class="course-image"
                                        src="{{ course.image_url }}"
                                        alt="{{ course.course_name }}"
                                        onerror="this.onerror=null;this.src='https://via.placeholder.com/400x200?text=No+Image';"
                                />
                                <div class="course-content">
                                    <h5 class="course-title">
                                        {{ course.course_name }}
                                    </h5>
                                    <a href="{% url 'institutions:view_course' course.id %}" class="read-more-button">
                                        Read more
                                        <svg class="w-3.5 h-3.5 ms-2" fill="none" stroke="currentColor" stroke-width="2"
                                             viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <!-- TOP RECOMMENDED INSTITUTIONS SECTION -->
        <section class="pt-24" id="top-rated-courses">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">TOP RECOMMENDED INSTITUTIONS</h2>

                <!-- Horizontal Scroll Wrapper -->
                <div class=" class= max-w-screen-xl px-4 mx-auto scroll-wrapper scroll-horizontal-wrapper auto-scroll"
                     onmouseenter="this.classList.add('scroll-pause')"
                     onmouseleave="this.classList.remove('scroll-pause')">

                    <div class="scroll-inner">
                        {% for institution in institution_hybrid %}
                            <div class="course-card">
                                <img
                                        class="course-image"
                                        src="https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg"
                                        alt="{{ institution.institution_name }}"
                                        onerror="this.onerror=null;this.src='https://via.placeholder.com/400x200?text=No+Image';"
                                />
                                <div class="course-content">
                                    <h5 class="course-title">
                                        {{ institution.institution_name }}
                                    </h5>
                                    <a href="{% url 'institutions:view_institution' institution.id %}"
                                       class="read-more-button">
                                        Read more
                                        <svg class="w-3.5 h-3.5 ms-2" fill="none" stroke="currentColor" stroke-width="2"
                                             viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white dark:bg-gray-900">
            <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
                <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                        Built for students seeking the right direction
                    </h2>
                    <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                        PathFinder is designed to support students at critical crossroads in their academic journey.
                        Whether you're uncertain after your 10+2 or exploring higher studies, our platform connects your
                        interests with real opportunities and institutions across India.
                    </p>
                </div>
            </div>
        </section>


        <section class="bg-white dark:bg-gray-900">
            <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-24 lg:px-6">
                <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl dark:text-white">
                    Frequently asked questions</h2>

                <!-- CENTER ALIGNMENT FIXED -->
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="w-full max-w-2xl">

                        <div id="accordion-flush" data-accordion="collapse"
                             data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
                             data-inactive-classes="text-gray-500 dark:text-gray-400">

                            <!-- FAQ 1 -->
                            <h3 id="accordion-flush-heading-1">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white"
                                        data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                                        aria-controls="accordion-flush-body-1">
                                    <span>Is this platform free to use?</span>
                                    <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Yes, PathFinder AI is completely free for students to explore courses and
                                        institutions.
                                    </p>
                                </div>
                            </div>

                            <!-- FAQ 2 -->
                            <h3 id="accordion-flush-heading-2">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                                        data-accordion-target="#accordion-flush-body-2" aria-expanded="false"
                                        aria-controls="accordion-flush-body-2">
                                    <span>How do I know which degree suits me best?</span>
                                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Our AI-based recommendation system suggests degrees based on your stream,
                                        interests,
                                        and goals.
                                    </p>
                                </div>
                            </div>

                            <!-- FAQ 3 -->
                            <h3 id="accordion-flush-heading-3">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                                        data-accordion-target="#accordion-flush-body-3" aria-expanded="false"
                                        aria-controls="accordion-flush-body-3">
                                    <span>Are the institutions and courses verified?</span>
                                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Yes, we collect information from verified sources, and most data is
                                        cross-checked
                                        with institutional partners.
                                    </p>
                                </div>
                            </div>

                            <!-- FAQ 4 -->
                            <h3 id="accordion-flush-heading-4">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                                        data-accordion-target="#accordion-flush-body-4" aria-expanded="false"
                                        aria-controls="accordion-flush-body-4">
                                    <span>Can I bookmark and revisit courses later?</span>
                                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Absolutely. Logged in users can bookmark courses or institutions and view them
                                        later
                                        under the “Favourites” section.
                                    </p>
                                </div>
                            </div>

                            <!-- FAQ 5 -->
                            <h3 id="accordion-flush-heading-5">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                                        data-accordion-target="#accordion-flush-body-5" aria-expanded="false"
                                        aria-controls="accordion-flush-body-5">
                                    <span>How often is the course and institution data updated?</span>
                                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-heading-5">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        We aim to refresh course and institution data every semester with support from
                                        partner institutions and student feedback.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="bg-white pt-24">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">STORIES OF SUCCESS</h2>


                <div id="testimonialScroll" class="pb-4">

                    <!-- Success Story 1 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/women/65.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Aparna Sharma</h3>
                            <p class="text-sm text-gray-700 text-center">Lucknow, Uttar Pradesh</p>
                            <p class="text-sm text-gray-700 text-center break-words leading-relaxed max-w-[280px]">With
                                limited guidance after 10+2,
                                Aparna found
                                the B.Sc. in Food Science at Amity University. She now interns with Nestlé
                                India.</p>
                        </div>
                    </div>

                    <!-- Success Story 2 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/men/22.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Ravi Mehta</h3>
                            <p class="text-sm text-gray-700 text-center">Indore, Madhya Pradesh</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Ravi used this platform to
                                discover
                                B.Tech. in
                                Mechanical Engineering at Manipal Institute of Technology. He now works at Tata
                                Motors.</p>
                        </div>
                    </div>

                    <!-- Success Story 3 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[400px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/women/10.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Neha Kaur</h3>
                            <p class="text-sm text-gray-700 text-center">Chandigarh, Punjab</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Neha enrolled in B.Des. in
                                Communication
                                Design at Pearl Academy. She's now a Junior Designer at Ogilvy.</p>
                        </div>
                    </div>

                    <!-- Success Story 4 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/men/55.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Arjun Iyer</h3>
                            <p class="text-sm text-gray-700 text-center">Bangalore, Karnataka</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">This platform helped Arjun get
                                into
                                the
                                B.Tech. in Artificial Intelligence at VIT. He now researches ML applications at
                                Microsoft
                                Research India.</p>
                        </div>
                    </div>

                    <!-- Success Story 5 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/women/33.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Shruti Verma</h3>
                            <p class="text-sm text-gray-700 text-center">Bhopal, Madhya Pradesh</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Shruti followed her passion for
                                healthcare and
                                enrolled in B.Sc. in Nursing at Christian Medical College. She's now preparing
                                for
                                NEET-PG.</p>
                        </div>
                    </div>

                    <!-- Success Story 6 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card ">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/men/85.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Farhan Sheikh</h3>
                            <p class="text-sm text-gray-700 text-center">Hyderabad, Telangana</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">After A/Ls, Farhan selected the
                                B.Com.
                                (Hons)
                                in Finance at St. Xavier’s College. He now works as an analyst at Deloitte.</p>
                        </div>
                    </div>

                    <!-- Success Story 7 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/women/14.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Priya Nair</h3>
                            <p class="text-sm text-gray-700 text-center">Kochi, Kerala</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Priya pursued her love for science
                                with B.Sc.
                                in Biotechnology at Jain University. She is now a research assistant at
                                Biocon.</p>
                        </div>
                    </div>

                    <!-- Success Story 8 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/men/30.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Kunal Patil</h3>
                            <p class="text-sm text-gray-700 text-center">Nagpur, Maharashtra</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Kunal found the Bachelor of
                                Architecture at
                                SRM University through this platform. He’s currently interning with a firm in
                                Pune.</p>
                        </div>
                    </div>

                    <!-- Success Story 9 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/women/70.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Megha Rajput</h3>
                            <p class="text-sm text-gray-700 text-center">Jaipur, Rajasthan</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Megha discovered BBA in Marketing
                                at
                                Christ
                                University. She now manages digital campaigns for a startup.</p>
                        </div>
                    </div>

                    <!-- Success Story 10 -->
                    <div class="testimonial-card flex-none">
                        <div class="w-80 h-[370px] bg-gray-100 rounded-lg p-6 shadow-md flex flex-col justify-start inner-card">
                            <img class="w-12 h-12 rounded-full mb-4 mx-auto"
                                 src="https://randomuser.me/api/portraits/men/41.jpg" alt="Student">
                            <h3 class="text-lg font-semibold text-gray-800 text-center">Ankit Reddy</h3>
                            <p class="text-sm text-gray-700 text-center">Vizag, Andhra Pradesh</p>
                            <p class="mt-4 text-gray-700 text-sm text-center">Ankit selected B.Tech. in
                                Electronics
                                at IIIT
                                Hyderabad. He now contributes to embedded systems at Intel India.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>

    <button class="chat-toggle-button" onclick="toggleChat()">
        ✉
    </button>

    <div class="chat-panel" id="chatPanel">
        <div class="chat-header">PathFinder Assistant</div>
        <div class="chat-body" id="chatBody">
            <div><strong>Bot:</strong> Hey! How can I help you today?</div>
        </div>
        <div class="chat-footer">
            <input type="text" id="userInput" placeholder="Type here..."
                   onkeypress="if(event.key === 'Enter'){sendMessage()}"/>
            <button onclick="sendMessage()">➤</button>
        </div>
    </div>


    {#CHATBOT JS#}
    <script>
        function toggleChat() {
            const panel = document.getElementById("chatPanel");
            panel.style.display = (panel.style.display === "none" || panel.style.display === "") ? "flex" : "none";
        }

        function sendMessage() {
            const input = document.getElementById("userInput");
            const chat = document.getElementById("chatBody");
            const message = input.value.trim();

            if (!message) return;

            const userDiv = document.createElement("div");
            userDiv.innerHTML = `<strong>You:</strong> ${message}`;
            chat.appendChild(userDiv);
            input.value = "";

            fetch("http://localhost:5005/webhooks/rest/webhook", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({sender: "user", message: message})
            })
                .then(res => res.json())
                .then(data => {
                    data.forEach(resp => {
                        if (resp.text) {
                            const botDiv = document.createElement("div");
                            botDiv.innerHTML = `<strong>Bot:</strong> ${resp.text}`;
                            chat.appendChild(botDiv);
                        }

                        if (resp.image) {
                            const img = document.createElement("img");
                            img.src = resp.image;
                            img.alt = "Bot image";
                            img.className = "bot-image";
                            chat.appendChild(img);
                        }

                        chat.scrollTop = chat.scrollHeight;
                    });
                })
                .catch(err => {
                    console.error("Failed to send message:", err);
                });
        }
    </script>




    {% include 'footer.html' %}
{% endblock content %}
