# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env
*.ini

# Virtual environment
django_env/
rasa_env/
env/
*.egg-info/
*.egg
.config.ini

# IDE configurations
.idea/
.vscode/

# Logs
*.log
logs/
*.sqlite3

# Django Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Media and src files
staticfiles/
media/

# Cache files
*.cache
*.mo
*.pot

# Coverage reports
.coverage
*.cover

# Database
*.db
db.sqlite3

# Secrets
*.pem
*.key

# Node modules
node_modules/
