{% extends "base.html" %}
{% load static %}

{% block css_cdn %}
    <link rel="stylesheet" href="{% static 'src/courses.css' %}">
{% endblock css_cdn %}

{% block js_cdn %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock js_cdn %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#default-search').on('input', function () {
                const query = $(this).val().trim();
                const suggestionsList = $('#suggestions-list');

                if (query.length > 0) {
                    $.ajax({
                        url: "{% url 'institutions:search_suggestions_institutions' %}",
                        type: "GET",
                        data: {query: query},
                        success: function (response) {
                            const {institutions} = response;
                            suggestionsList.empty();

                            if (institutions.length === 0) {
                                suggestionsList.append('<li style="padding: 8px; color: #666;">No institutions found</li>');
                            } else {
                                suggestionsList.append('<li style="font-weight: bold; padding: 8px;">Institutions</li>');
                                institutions.forEach(institution => {
                                    suggestionsList.append(`<li style="padding: 8px; cursor: pointer;"
                                    data-id="${institution.institution_id}"
                                    data-value="${institution.institution_name}">
                                    ${institution.institution_name}
                                </li>`);
                                });
                            }
                            suggestionsList.show();
                        },
                        error: function (error) {
                            console.error('Error fetching institutions:', error);
                            suggestionsList.empty().append('<li style="padding: 8px; color: #666;">Error fetching results. Please try again.</li>').show();
                        }
                    });
                } else {
                    suggestionsList.empty().hide();
                }
            });

            // Handling item selection
            $(document).on('click', '#suggestions-list li', function () {
                const institutionId = $(this).data('id');
                const institutionName = $(this).data('value');

                console.log("Selected Institution ID:", institutionId);


                if (institutionId) {
                    $('#default-search').val(institutionName);

                    //URL replacement
                    const url = "{% url 'institutions:view_institution' institution_id=0 %}".replace('0', institutionId);
                    window.location.href = url;
                } else {
                    console.error("Invalid institution ID:", institutionId);
                }

                $('#suggestions-list').hide();
            });


            $(document).click(function (e) {
                if (!$(e.target).closest('.search-div').length) {
                    $('#suggestions-list').hide();
                }
            });

            // Handle form submit
            function handleSubmit(event) {
                event.preventDefault();

                let query = document.getElementById("default-search").value.trim();
                if (!query) return;

                fetch(`/search_suggestions_institutions/?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.institutions.length > 0) {
                            let institutionId = data.institutions[0].institution_id;
                            window.location.href = `/view_institution/${institutionId}`;
                        } else {
                            alert("No institutions found!");
                        }
                    })
                    .catch(error => console.error("Error:", error));
            }


            $('#search-form').on('submit', handleSubmit);

            $(document).on('click', '.bookmark-btn', function (e) {
                e.preventDefault();
                e.stopPropagation();

                const button = $(this);
                const icon = button.find('i');
                const courseId = button.data('course-id') || null;
                const institutionId = button.data('institution-id') || null;

                $.ajax({
                    url: "{% url 'institutions:toggle_favourite' %}",
                    type: "POST",
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                    data: {
                        course_id: courseId,
                        institution_id: institutionId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.status === 'added') {
                            icon.removeClass('fa-regular').addClass('fa-solid');
                        } else if (response.status === 'removed') {
                            icon.removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 403) {
                            alert("You must log in to bookmark items.");
                        } else {
                            alert("Error while bookmarking. Please try again.");
                        }
                    }
                });
            });


        });
    </script>

    <div class="bg-white pt-24">

        {# SEARCH FORM #}
        <form action="{% url "institutions:search_suggestions_institutions" %}" method="GET" class="max-w-md mx-auto"
              id="search-form"
              style="margin-top: 4rem; margin-bottom: 10rem">
            {% csrf_token %}
            <label for="default-search" class="mb-2 text-sm font-medium text-purple-900 sr-only">Search</label>
            <div class="relative search-div">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-purple-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-purple-900 border
                border-purple-300 rounded-lg bg-purple-50 focus:ring-purple-500 focus:border-purple-500"
                       placeholder="   &nbsp;&nbsp;Search for Degrees and Institutions..." required
                       style="border-radius: 1rem; border: #5521b5;"/>
                <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-purple-700 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2">
                    Search
                </button>

                <!-- Dropdown to Show Results -->
                <ul id="suggestions-list" class="suggestion-list"
                    style="position: absolute; width: 100%; background-color: white; border: 1px solid #ccc; display: none; margin-top: 3.42rem; ">
                </ul>
            </div>
        </form>


        <!-- Recommended Institutions Section Card -->
        <div class="mx-6 my-10 p-6 bg-white rounded-2xl shadow-lg border border-purple-300">
            <h4 class="text-center text-3xl font-semibold mb-6 bg-white text-white py-2 shadow" style="color: black; width: 30rem; margin-left: 31rem;border-radius: 5px">RECOMMENDED FOR YOU</h4>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for institution in recommend_institution %}
                    <div class="relative p-6 bg-white border border-purple-500 rounded-lg shadow-sm hover:bg-gray-100 h-full flex flex-col justify-between">
                        <a href="{% url 'institutions:view_institution' institution.id %}"
                           class="flex-1">
                            <img src="{% static "/assets/images/institutions.jpeg" %}"
                                 alt="{{ course.stream.stream_name }}"
                                 class="mb-4 rounded-lg w-full h-48 object-cover">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 truncate">
                                {{ institution.institution_name }}
                            </h5>
                            <p class="font-normal text-gray-700">
                                State: <span class="text-blue-500">{{ institution.state.name }}</span>
                            </p>
                            <p class="font-normal text-gray-700">
                                District: <span class="text-blue-500">{{ institution.district.name }}</span>
                            </p>
                        </a>
                        <div class="text-end">
                            <button type="button"
                                    class="bookmark-btn text-purple-700 hover:text-yellow-400"
                                    data-institution-id="{{ institution.id }}"
                                    title="Bookmark this institution">
                                <i class="{% if institution.pk in favourite_institution %}fa-solid{% else %}fa-regular{% endif %} fa-bookmark fa-lg"
                                   style="color: #5521b5;"></i>
                            </button>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center text-gray-700 col-span-3">No institutions available.</p>
                {% endfor %}
            </div>
        </div>
        <!-- All Institutions Section Card -->
        <div class="mx-6 my-10 p-6 bg-white rounded-2xl shadow-lg border border-purple-300">
            <h4 class="text-center text-3xl font-semibold mb-6 bg-white text-white py-2 shadow" style="color: black; width: 30rem; margin-left: 31rem;border-radius: 5px">ALL INSTITUTIONS</h4>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for institution in institution_data %}
                    <div class="relative p-6 bg-white border border-purple-500 rounded-lg shadow-sm hover:bg-gray-100 h-full flex flex-col justify-between">
                        <a href="{% url 'institutions:view_institution' institution.id %}"
                           class="flex-1">
                            <img src="{% static "/assets/images/institutions.jpeg" %}"
                                 alt="{{ course.stream.stream_name }}"
                                 class="mb-4 rounded-lg w-full h-48 object-cover">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 truncate">
                                {{ institution.institution_name }}
                            </h5>
                            <p class="font-normal text-gray-700">
                                State: <span class="text-blue-500">{{ institution.state.name }}</span>
                            </p>
                            <p class="font-normal text-gray-700">
                                District: <span class="text-blue-500">{{ institution.district.name }}</span>
                            </p>
                        </a>
                        <div class="text-end">
                            <button type="button"
                                    class="bookmark-btn text-purple-700 hover:text-yellow-400"
                                    data-institution-id="{{ institution.id }}"
                                    title="Bookmark this institution">
                                <i class="{% if institution.pk in favourite_institution %}fa-solid{% else %}fa-regular{% endif %} fa-bookmark fa-lg"
                                   style="color: #5521b5;"></i>
                            </button>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center text-gray-700 col-span-3">No institutions available.</p>
                {% endfor %}
            </div>
        </div>


    </div>





    {% include 'footer.html' %}
{% endblock content %}
