{% extends "base.html" %}
{% load static %}
{% block css_cdn %}
        <link rel="stylesheet" href="{% static 'src/view_course.css' %}">
{% endblock css_cdn %}


{% block content %}

   <div class="max-w-4xl mx-auto p-6 bg-white border border-gray-200 shadow-lg rounded-lg mt-10 container-div">
       <center><h1 class="text-4xl font-extrabold text-gray-900 mb-6 main-heading">{{ course.course_name }}</h1></center>

        <div class="space-y-4 courses-div">
            <div>
                <p class="text-gray-700 text-xl mb-2 font-medium"><i class="fa-solid fa-book-open fa-lg" style="color: #824dd8;"></i>&nbsp;
                    Course Description: </p>
                <p class="text-gray-800 text-lg"> {{ course.course_description }}</p>
            </div>

            <div>
                <p class="text-gray-700 text-xl mb-2 font-medium"><i class="fa-solid fa-user-graduate fa-lg"
                           style="color: #824dd8;"></i>&nbsp; Degree:
                    {% if course.degree %}
                        {{ course.degree.degree_description }}
                    {% else %}
                        <span class="text-gray-500">Not Available</span>
                    {% endif %}
                </p>
            </div>

            <div>
                <p class="text-gray-700 text-xl mb-2 font-medium"><i class="fa-solid fa-graduation-cap fa-lg" style="color: #824dd8;"></i>&nbsp;Stream:
                    {% if course.stream %}
                        {{ course.stream.stream_name }}
                    {% else %}
                        <span class="text-gray-500">Not Available</span>
                    {% endif %}
                </p>
            </div>

            <div>
                <p class="text-gray-700 text-xl mb-2 font-medium"><i class="fa-solid fa-clock fa-lg" style="color: #824dd8;"></i>&nbsp; Duration:</p>
                <p class="font-semibold text-lg text-gray-800">{{ course.duration }}</p>
            </div>
         <div>
                <p class="text-gray-700 text-xl mb-2 font-medium"><i class="fa-solid fa-credit-card fa-lg" style="color: #824dd8;"></i>&nbsp;
                    Price:  price here</p>

            </div>
        </div>

        <div class="mt-6 flex justify-start reverse-btn">
            <a href="{% url 'institutions:courses' %}" class="bg-purple-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-purple-700 transition duration-300 ease-in-out">
                Back to Courses
            </a>
        </div>
    </div>


{% include 'footer.html' %}
{% endblock content %}
