{% extends "base.html" %}
{% load static %}

{% block css_cdn %}
    <link rel="stylesheet" href="{% static '/src/register.css' %}">
{% endblock css_cdn %}

{% block js_cdn %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock js_cdn %}

{% block content %}

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div class="container mx-auto px-4 overflow-y-hidden bg-gradient-to-tr from-indigo-50 to-purple-100">
        <div class="h-screen flex items-center justify-center w-full bg-gradient-to-tr from-indigo-50 to-purple-100"
             id="auth">
            <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">

                <form method="POST" action="/signin/" class="max-w-sm mx-auto bg-white p-6 shadow-md rounded-lg border"
                      style="background-color: white;">
                    {% csrf_token %}
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input type="email" name="email" id="email"
                               class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required/>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
                        <input type="password" name="password" id="password"
                               class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                               required/>
                    </div>
                    <div class="flex items-start mb-5">
                        <div class="flex items-center h-5">
                            <input id="remember" type="checkbox" value=""
                                   class="w-4 h-4 border border-gray-300 rounded-sm bg-white focus:ring-3 focus:ring-blue-300"
                                   required/>
                        </div>
                        <label for="remember" class="ms-2 text-sm font-medium text-gray-900">Remember me</label>
                    </div>
                    <button type="submit" class="custom-button" style="background-color: #5521b5">Signin</button>&nbsp;

                    <!-- Google Sign-In Button -->
                    <div id="g_id_onload"
                         data-client_id="{{ GOOGLE_CLIENT_ID }}"
                         data-callback="handleCredentialResponse"
                         data-auto_prompt="false">
                    </div>
                    <div class="g_id_signin" data-type="standard"></div>
                    <div class="mt-4 text-left">
                        <a href="{% url 'users:forgot_password' %}" class="text-sm text-blue-600 hover:underline">
                            Forgot your password?
                        </a>
                    </div>
                </form>

                <!-- Tailwind Modal -->
                <div id="feedback-modal"
                     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
                    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Message</h2>
                        {% for message in messages %}
                            <p class="{% if message.tags == 'success' %}text-green-600{% else %}text-red-600{% endif %} mb-4">{{ message }}</p>
                        {% endfor %}
                        <div class="flex justify-end">
                            <button id="close-modal"
                                    class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lg">
                                Close
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            {% if messages %}
                $('#feedback-modal').removeClass('hidden');
            {% endif %}

            $('#close-modal').click(function () {
                $('#feedback-modal').addClass('hidden');
            });
        });

        function handleCredentialResponse(response) {
            const data = response.credential;

            const userData = {
                token: data
            };

            fetch('{% url "users:google_callback" %}', {
                method: 'POST',
                body: JSON.stringify(userData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{csrf_token}}"
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message == 'success') {
                        window.location.href = '{% url "dashboard:dashboard" %}';
                    } else {
                        alert("Authentication failed.");
                    }

                });
        }


    </script>



{% endblock %}