{% extends "base.html" %}

{% block content %}
    {% load static %}

    {% block css_cdn %}
        {#            <link rel="stylesheet" href="{% static 'profile.css' %}">#}
    {% endblock css_cdn %}


    <div class="max-w-sm mx-auto bg-white p-6 shadow-md rounded-lg border">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Sign in to access personalized higher education recommendations tailored to your desired subject streams.
        </p>

        <a href="/signin"
           style="background-color: #CB6040"
           class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Sign In
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>



{% endblock %}